@use '@styles/_variable.module.scss' as variable;
@use '@styles/_mixin.module.scss' as mixin;

.container {
    @include mixin.flexCommon(row, center, center);
    .contentWrapper {
        width: variable.$container-width-tablet;
        padding: variable.$padding-y-section;
        .title {
            text-align: center;
            font-weight: variable.$medium-font-weight;
            font-size: variable.$x-large-font-size;
            margin-bottom: variable.$margin-bottom-per-item;
        }

        .actionWrapper {
            @include mixin.flexCommon(column, center, start);
            @include mixin.flexCustom();
            margin-bottom: variable.$margin-bottom-per-item;
        }        

        .mainGroup {
            @include mixin.flexCommon(column, center, start);
            @include mixin.flexCustom(15px);
        }


        .forgotPasswordWrapper {
            width: 100%;
            @include mixin.flexCommon(row, center, end);
            a {
                color: variable.$text-light-mode;
                font-size: variable.$tiny-font-size;
                font-weight: variable.$medium-font-weight;
                text-decoration: underline;
            }
        }

        .errorLabel {
            color: variable.$red-color;
            font-size: variable.$tiny-font-size;
            text-align: left;
            width: 100%;
            margin-top: -10px;
        }    
        
        
        .rememberWrapper {
            width: 100%;
            @include mixin.flexCommon(row, center, start);
            @include mixin.flexCustom();
        }
    }


    .moreGroup {
        @include mixin.flexCommon(column, center, center);
        @include mixin.flexCustom();
        width: 100%;
        .moreTitle {
            font-weight: variable.$medium-font-weight;
            color: variable.$text-light-mode;
        }
    }
}

.seperator {
    margin: variable.$margin-bottom-per-item 0;
    border-color: variable.$bg-dark-mode;
    width: 100%;
}

.seperatorWrapper {
    width: 100%;
    position: relative;
    .seperatorTitle {
        display: block;
        position: absolute;
        transform: translateX(-50%);
        left: calc(50% - 20px);
        padding: 0 20px;
        transform: translateY(-50%);
        top: 50%;
        background-color: variable.$bg-light-mode;
    }
}

.seperatorTitle {
    display: none;
}