@use '@styles/_variable.module.scss' as variable;
@use '@styles/_mixin.module.scss' as mixin;

.container {
    @include mixin.flexCommon(row, center, center);
    .containerWrapper {
        width: variable.$container-width-tablet;
        margin: variable.$margin-bottom-per-item 0;

        .title {
            font-weight: variable.$medium-font-weight;
            font-size: variable.$large-font-size;
        }
    }
}