@use '@styles/_mixin.module.scss' as mixin;
@use '@styles/_variable.module.scss' as variable;

$default-container-width: 100%;

.container {
    width: $default-container-width;
    padding: variable.$padding-y-section 0;
    padding-bottom: variable.$padding-bottom-section;
    background-color: rgba($color: variable.$bg-purple-color, $alpha: 0.3);

    @include mixin.flexCommon(column, center, start);
    .contentWrapper {
        width: variable.$container-width-large-desktop;
        .titleWrapper {
            @include mixin.flexCommon(row, center, space-between);
            padding-bottom: 30px;
            margin-bottom: variable.$margin-bottom-per-item;
            .title {
                text-align: center;
                font-size: variable.$xx-large-font-size;
                font-weight: variable.$bold-font-weight;
                color: variable.$text-light-mode;
            }
        }

        .mainWrapper {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-auto-rows: auto;
            gap: 15px;

            @media screen and (max-width: variable.$tablet) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media screen and (max-width: variable.$mobile) {
                grid-template-columns: repeat(1, 1fr);
            }
        }


    }
}

