@use '@styles/_variable.module.scss' as variable;
@use '@styles/_mixin.module.scss' as mixin;

.container {
    padding: 20px 40px;
    background-color: variable.$bg-secondary-color;
    font-weight: variable.$medium-font-weight;
    @include mixin.flexCommon(row, center, start);
    @include mixin.flexCustom(15px);
    @include mixin.radiusCommon();
    cursor: pointer;

    transition: transform ease .3s;
    &:hover {
        transform: scale(1.05);
    }

    .title {
        font-weight: variable.$bold-font-weight;
    }

    .thumb {
        height: 40px;
        width: 40px;
        object-fit: cover;
        object-position: center;
    }
}
