@use '@styles/_variable.module.scss' as variable;
@use '@styles/_mixin.module.scss' as mixin;
$banner-default-height: 670px;
$banner-default-width: 100%;

.container {
    width: variable.$container-width-large-desktop;
 }

