@use '@styles/_variable.module.scss' as variable;
@use '@styles/_mixin.module.scss' as mixin;

.container {
    @include mixin.flexCommon(column, start, start);
    @include mixin.flexCustom(10px);
    @include mixin.radiusCommon(10px);
    border: 1px solid rgba($color: variable.$bg-primary-color, $alpha: .1);
    // background-color: variable.$bg-purple-color;
    overflow: hidden;
    padding: 15px;
    padding-bottom: 20px;
    cursor: pointer;
    transition: box-shadow ease .3s, transform ease .3s;
    background-color: rgba($color: variable.$bg-purple-color, $alpha: 1);
    &:hover {
        transform: translateY(-5px);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        background-color: rgba($color: variable.$bg-purple-color, $alpha: 0.1);
    }

    &:hover .imageWrapper .image {
        transform: scale(1.05);
    }

    .imageWrapper {
        width: 100%;
        height: 220px;
        overflow: hidden;
        @include mixin.radiusCommon(10px);
        .image {
            transition: transform ease .3s; 
            width: 100%;
            @include mixin.radiusCommon(10px);

            object-fit: cover;
            object-position: center;
            height: 220px;
        }
    }

    .mainDesWrapper {
        width: 100%;
        @include mixin.flexCommon(row, start, space-between);
        .rating {
            color: variable.$orange-color;
            font-size: variable.$medium-font-size;
        }
        .price {
            color: variable.$text-primary-color;
            font-weight: variable.$medium-font-weight;
        }
    }

    .secondDesWrapper {
        width: 100%;
        @include mixin.flexCommon(row, start, space-between);
        @include mixin.radiusCommon(10px);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
        font-weight: variable.$medium-font-weight;
        padding: 15px 25px;
        margin: 10px 0;
        background-color: variable.$bg-light-mode;
        .lessonWrapper, .lessonLengthWrapper, .studentCountWrapper{
            @include mixin.flexCommon(row, center, center);
            @include mixin.flexCustom(5px);
        }
    }

    .title {
        font-size: variable.$medium-font-size;
    }

    .actionWrapper {
        width: 100%;
        @include mixin.flexCommon(row, center, space-between);
    }


}