@mixin flexCommon($flex-direction: row, $align-item: center, $justify-content: center) {
    display: flex;
    flex-direction: $flex-direction;
    align-items: $align-item;
    justify-content: $justify-content;
}

@mixin flexCustom($gap: 10px, $wrap: nowrap) {
    gap: $gap;
    flex-wrap: $wrap;
}

@mixin radiusCommon($radius: 5px) {
    border-radius: $radius;
}

@mixin radiusRounded() {
    border-radius: 50%;
}

@mixin borderCommon($color: #ccc, $width: 1px, $style: solid) {
    border: $width $style $color;
}

@mixin shadowCommon() {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

@mixin shadowFocus() {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}